.postContent {
  h1 {
    font-size: 3em;
    text-align: center;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.2em;
  }

  pre{
    p{
      color: black;
      font-size: .9rem;
      margin: 0;
    }
  }

  a{
    color: $secondary;
    border-bottom: 1px solid currentColor;
    line-height: 0;
    transition: color 150ms ease-out;

    &:hover{
      color: $primary;
    }
  }

  .alignleft{
    float: left;
    margin-right: 1.5rem;
  }

  img{
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  figure{
    margin-top: 2rem;
    margin-bottom: 2rem;
    img{
      margin: 0;
    }
  }
}
